<nz-layout class="layout">
  <div class="header__container">
    <nz-header>
      <div nz-row [nzGutter]="0" style="margin: 0; padding: 0;">
        <div nz-col [nzOffset]="'4'" [nzSpan]="16">
          <div nz-row [nzType]="'flex'" [nzGutter]="0" [nzJustify]="'start'" [nzAlign]="'top'">
            <div class="logo" nz-col [nzSpan]="4">
              <a routerLink="/"><img src="/assets/xdk-logo-white-text.png" alt=""></a>
            </div>
            <div nz-col [nzSpan]="14">
              <ul nz-menu [nzMode]="'horizontal'" [nzTheme]="'dark'" style="line-height: 64px; float: left;">
                <li nz-menu-item>
                  <a routerLink="/home">
                  <i-home class="icon"></i-home>
                  Chuyến đi
                </a>
                </li>
                <li nz-menu-item>
                  <a routerLink="/articles">
                    <i-droplet class="icon"></i-droplet>
                    Tin tức
                  </a>
                </li>
                <li nz-submenu>
                  <span title><i-feather class="icon"></i-feather> Liên hệ</span>
                  <ul>
                    <li>
                      <ul>
                        <li nz-menu-item>Option 1</li>
                        <li nz-menu-item>Option 2</li>
                      </ul>
                    </li>
                    <li>
                      <!--<span title>Item 2</span>-->
                      <ul>
                        <li nz-menu-item>Option 3</li>
                        <li nz-menu-item>Option 4</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="header__rightmenu" nz-col [nzSpan]="6">
              <a routerLink="/login">
                <i-user class="icon"></i-user>
                Đăng nhập
              </a>
              <button routerLink="/register" nz-button [nzType]="'default'" [nzGhost]="true" [nzSize]="'large'">
                <span>Đăng ký</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </nz-header>
  </div>
  <div nz-row>
    <div nz-col [nzOffset]="'4'" [nzSpan]="16">
      <nz-content>
        <section class="content">
          <router-outlet></router-outlet>
        </section>
      </nz-content>
      <nz-footer style="text-align: center;">Xe Đi Ké &copy; 2017.</nz-footer>
    </div>
  </div>
</nz-layout>
