.selected{
  background-color: red!important;
  color:white;
}
.users{
  list-style-type: none;
  width: 15em;
  padding: 0;
}

.users li{
  cursor: pointer;
  position: relative;
  background-color: #eeeeee;
  padding: 3em;
}
