<div style="background:#fff; padding: 24px; min-height: 280px;">
    <!--<nz-datepicker [nzShowTime]="true" [nzPlaceHolder]="'Select date'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>-->
    <div class="sample-date-picker__container">
        <nz-calendar [nzLocale]="'vi'"></nz-calendar>
    </div>
</div>
<p>{{ someProperty }}</p>
<p>{{ userResponse }}</p>

<ul class="users">
  <li *ngFor="let eachUser of users"
      [class.selected]="eachUser===selectedUser"
      (click)="onselect(eachUser)">
    <span class="badge">{{eachUser.id}}</span>{{eachUser.name}}
  </li>
</ul>

<ul class="users">
  <li *ngFor="let pet of pets">
    Pet
    <span class="badge">{{pet.id}}</span>{{pet.name}}
  </li>
</ul>
